div {
    width: 700px;
    height: auto;
    padding: 20px;
    margin: 0px auto 5px ;
    box-shadow: 0 0 20px black; border-radius: 20px;
}

h1 { 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p { 
    font-family: roboto;
    font-size: 15px;
    color: black;
    text-align: justify;
}

img { 
    display: block;
    width:  20% ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px ;
    ;
}

table { 
    width: 700px;
    border-collapse: collapse;
}

th { 
    text-align: center;
}

td {
    text-align: center;
}